@import url('https://fonts.googleapis.com/css?family=Oswald:200,500|Rubik:300,400&display=swap&subset=cyrillic');

body {
    min-width: 1100px;
    background: url(../Background.gif);
    background-size: cover;
    margin:0;
}



/* Intro */
.all_container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100vh;
}
/* Header */

.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.nav_link {
    position: relative;
    font-family: 'Rubik', Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: black;
    text-decoration: none;
    transition: color .2s linear;
}
.nav_link:hover {
    color: darkred;
}

.nav_link:after {

    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
    opacity: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: darkred;
    position: absolute;
    transition: opacity .1s linear;
}
.nav_link:hover:after {
    display: block;
    opacity: 1;
}

.intro .container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.nav {
    font-size: 1.5vw;
}

/* Name */
.name h1{
    margin: 0;
    color: white;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 11vw;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.name_inner {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    animation: title_animation .8s ease-in 1;
}

@keyframes title_animation {
    0% {opacity: 0; transform:scale(2);}
    80% {opacity: 100%; transform: scale(0.9);}
    100% {transform: scale(1);}
}

/* Reference */

#reference {
    padding: 10px 15px;
    vertical-align: top;
    color:black;
    width:25%;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: inline-block;
    background-image: linear-gradient(to left,transparent,transparent 50%,darkred 50%,darkred);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid black;
    animation: reference_animation 1.5s ease-in 1;
}

@keyframes reference_animation {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

#reference:hover {
    background-position: 0 0;
    color: white;
}

#reference:active {
    opacity: 0.6;
    background-position: 0 0;
    color: white;
}

.button h2 {
    margin: 0;
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2vw;
}

/* About */

.about {

    height: 100vh;
    padding-top: 120px;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Directions */
.line {


    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.direction h2 {
    vertical-align: middle;
    display: inline;
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

.next {
    position: relative;
    top: 15px;
    margin-left: 20px;
}

.lit_triangle {
    position: relative;
    top: 110px;
    right: 50%;
}


.art_triangle {
    position: relative;
    top: 15px;
    margin-left: 20px;
}

.mus_triangle {
    position: relative;
    top: 15px;
    margin-right: 20px;
}

.literature {
    position: relative;
    top:-100px;
    display: flex;
    justify-content: center;
}

.music {
    padding-left: 30px;
}

.art {
    padding-right: 30px;
}
.dir {
    transition: color .1s linear;
    fill: black;
    color: black;
    text-decoration: none;
}
.dir:hover {
    color: darkred;
    fill: darkred;
}



/* Notification */

.button  p{
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

.notification_inner {
    color: black;
    text-decoration: none;
    outline: none;
    text-align: center;
    border: 1px black solid;
    padding: 0.1em .7em;
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
}

#notification {
 
}



