body {
    min-height: 900px;
    min-width: 500px;
    margin: 0;
}

.context {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/* Navigation */
.container {
    margin: auto;
    font-size: 1.5vw;
    width: 90%;
}

.header {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;

}

.nav_link {
    position: relative;
    font-family: 'Rubik', Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: black;
    text-decoration: none;
    transition: color .2s linear;
}

.i {

    font-weight: 400;
    font-family: Oswald, serif;
}

.nav_link:hover {
    color: darkred;
}

.nav_link:after {
    top: 100%;
    left: 0;
    display: block;
    opacity: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: darkred;
    position: absolute;
    transition: opacity .1s linear;
}

.nav_link:hover:after {
    display: block;
    opacity: 1;
}

.nav {
    font-size: 1.5vw;
}

.m_content {
    display: flex;
    justify-content: space-between;
}
/* Box */
.context {
    margin: 0 auto;
    width: 90%;
}

.variety {
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
    grid-auto-rows: minmax(10vh, auto);
    display: grid;
    grid-gap: 15px;
}

.text {
    color: black;
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    line-height: 100%;
    text-decoration: none;
    transition: all .1s linear;
}

.box:hover {
    background: darkred;
    color: white;
    cursor: pointer;
}

.box:active {
    opacity: 0.6;
    background: darkred;
    color: white;
}

.box1 {
    grid-column: 1;
    grid-row: 1/3;
}

.box2 {
    grid-column: 2;
    grid-row: 1/3;
}

.box3 {
    grid-column: 3;
    grid-row: 1/4;
}

.box4 {
    grid-column: 4;
    grid-row: 1;
}

.box5 {
    grid-column: 4;
    grid-row: 2;
}

.box6 {
    grid-column: 1/3;
    grid-row: 3;
}

.box7 {
    grid-column: 4;
    grid-row: 3;
}

.box8 {
    grid-column: 1;
    grid-row: 4/7;
}

.box9 {
    grid-column: 2;
    grid-row: 4;
}

.box10 {
    grid-column: 3/5;
    grid-row: 4;
}

.box11 {
    grid-column: 2;
    grid-row: 5/7;
}

.box12 {
    grid-column: 3;
    grid-row: 5/8;
}


.box13 {
    grid-column: 4;
    grid-row: 5/8;
}

.box14 {
    grid-column: 1/3;
    grid-row: 7;
}

/* Modal Window */
.modal {
    --animate-duration: .3s;
    display: none;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: 0;
    padding: 0;
    transition: opacity 1s linear;
}

.modal_window {
    --animate-duration: .5s;
    font-family: 'Rubik', Helvetica, sans-serif;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 70vw;
    height: auto;
    background: white;
}

.img {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
    border-radius: 50%;
    transition: all .1s linear;
}

.img:hover {
    transform: scale(1.2);
}

img {
    background-size: cover;
    width: 100%;
    height: auto;
}

.border {
    position: absolute;
    border: black solid 1px;
    left: 15vw;
    width: 30vw;
    height: 5vw;
}

.al {
    left: 30vw;
}

.close {
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1vw;
    right: 2vw;
}

.close:hover {
    cursor: pointer;
    color: darkgray;
}

.writers {
    display: flex;
    flex-direction: row;
}

.guy {
    margin-right: 2vw;
}

.art_text {
    text-align: center;
    color: black;
    padding-top: 30px;
    font-family: 'Rubik', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.3vw;
}

.title {
    margin-bottom: 3vh;
    font-weight: 400;
    font-size: 5vw;
}

.title2 {
    margin-top: 3vh;
    font-weight: 400;
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
    font-weight: 200;
}

p.info {
    margin-top:0;
    margin-bottom: 3vh;
    font-size: 1.3vw;
    color: darkgrey;
}
.hamburger, .menu, .closew {
    display: none;
}
@media screen and (max-width: 600px) {
    body {
        height: 110vh;
        min-width: 200px;
        min-height: auto;
    }

    .modalw {
        --animate-duration: .3s;
        display: none;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 490;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        margin: 0;
        padding: 0;
    }

    .hamburger {
        width: 10vw;
        height: 10vw;
        display: flex;
        background: url("../Music/burger.png") center no-repeat;
        background-size: contain;
        margin-left: 5%;
    }

    .container {
        top: 0;
        height: 100vh;
        z-index: 500;
        position: fixed;
        left: -999px;
        flex-direction: column;
        font-size: 5vw;
        width: 70%;
        display: flex;
        justify-content: space-around;
        background-color: darkred;
        transition: all .5s linear;
    }

    .nav {
        font-size: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav_link, .menu, .closew {
        margin-bottom: 3vh;
        margin-right: 10vw;
        margin-left: 10vw;
        color: white;
        text-align: left;
    }

    .nav_link {
        width: 70%;
    }

    .menu, .closew {
        margin-bottom: 5vh;
        display: block;
        font-family: 'Rubik', Helvetica, sans-serif;
        font-weight: 500;
        font-size: 8vw;
    }

    .m_content {
        margin-bottom: 15vh;
        display: block;
    }

    .closew {
        text-align: right;
        position: relative;
        margin-bottom: 20vh;
        z-index: 510;
        margin-right: 4vw;
    }

    .nav_link:after, .menu:after {
        opacity: 1;
        display: block;
        background-color: white;
    }

    .variety {
        font-size: 4vw;
        grid-gap:7px;
        grid-auto-rows: minmax(7vh, auto);
    }

    .context {
        height: auto;
        justify-content: flex-start;
    }

    .box1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .box2 {
        grid-column: 3;
        grid-row: 1/3;
    }

    .box3 {
        grid-column: 1;
        grid-row: 4/7;
    }

    .box4 {
        grid-column: 2/4;
        grid-row: 4;
    }

    .box5 {
        grid-column: 2/4;
        grid-row: 5;
    }

    .box6 {
        grid-column: 1/4;
        grid-row: 3;
    }

    .box7 {
        grid-column: 2/4;
        grid-row: 6;
    }

    .box8 {
        grid-column: 1/3;
        grid-row: 7/9
    }

    .box9 {
        grid-column: 3;
        grid-row: 7;
    }

    .box10 {
        grid-column: 1/4;
        grid-row: 9;
    }

    .box11 {
        grid-column: 3;
        grid-row: 8;
    }

    .box12 {
        grid-column: 1;
        grid-row: 11/13;
    }


    .box13 {
        grid-column: 2/4;
        grid-row: 11/13;
    }

    .box14 {
        grid-column: 1/4;
        grid-row: 10;
    }

    /*Modals for mobiles*/
    .modal_window {
        overflow:auto;
        height: auto;
        width: auto;
        max-width: 85vw;
        max-height: 90vh;
    }

    .title {
        margin-top: 2vh;
        text-align: center;
        font-size: 10vw;
        margin-bottom: 1vh;
    }

    .border {
        top:5vh;
        left: 40vw;
        height: 10vw;
    }

    .close {
        font-size: 7vw;
    }

    .modal_window p {
        font-size: 3.5vw;
    }

    .title2 {
        margin-top: 1vh;
        font-size: 7vw;
    }

    .writers {
        margin: auto;
        margin-top:0;
        display: grid;
        row-gap: 2vh;
        column-gap: 10vw;
        grid-template-columns: 40% 40%;
    }

    .art_text {
        padding-top: 1vh;
        font-size: 3vw;
    }

    .img {
        width: 25vw;
        height: 25vw;
    }

    .guy {
        margin-right: 0;
    }

    p.info {
        font-size: 3vw;
    }
}
