@font-face {
    font-family: "Oswald-ExtraLight";
    url("/Шрифты/Oswald/Oswald-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oswald-Medium";
    url("/Шрифты/Oswald/Oswald-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-Light";
    url("/Шрифты/Rubik/Rubik-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-LightItalic";
url("/Шрифты/Rubik/Rubik-LightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rubik-Regular";
url("/Шрифты/Rubik/Rubik-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
